body {
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url('https://plus.unsplash.com/premium_photo-1675237624816-a4755b4649fe?q=80&w=1974&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D') no-repeat center center fixed;
  background-size: cover;
  z-index: -2;
}

.rain {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
}

.rain .drop {
  position: absolute;
  top: -10vh;
  width: calc(2vh + 1vw);
  height: calc(2vh + 1vw);
  background-image: url('https://media.fortniteapi.io/images/74c8a2c40b9f42c28b5c41dc1f954607/transparent.png');
  background-size: contain;
  background-repeat: no-repeat;
  animation: fall infinite linear;
}

@keyframes fall {
  0% { transform: translateY(-10vh); }
  100% { transform: translateY(110vh); }
}

.hero {
  text-align: center;
  padding: 20px 10px;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.animated-title {
  font-size: 4vw;
  text-shadow: 0 0 20px #fff, 0 0 40px #f90;
  animation: pulse 1s infinite alternate;
}

@keyframes pulse {
  0% { text-shadow: 0 0 20px #fff, 0 0 40px #00f; }
  100% { text-shadow: 0 0 40px #f00, 0 0 60px #0ff; }
}

.philosophical-text {
  font-size: 1.5vw;
  color: #3a3131;
  text-shadow: 0 0 5px #ffee00;
}

.interactive-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  color: #28585a;
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
  width: 90%;
}

.icon-item p {
  font-size: 1.2rem;
  text-shadow: 2px 2px 5px rgb(204, 65, 174);
  color: #ffffff;
}

.icon {
  width: 100%;
  max-width: 70px;
  height: auto;
}

.footer {
  background: rgba(0, 0, 0, 0.8);
  color: #f5a623;
  text-align: center;
  padding: 10px;
  box-sizing: border-box;
}

@media (max-width: 768px) {
  .animated-title {
    font-size: 3rem;
  }
  .philosophical-text {
    font-size: 5rem;
  }
}
